<h2 style="text-align: center">Richeste entrata</h2>
<div fxLayout="row nowrap"
     fxLayoutAlign="center center"
     fxLayoutGap="4vh"  >
<div *ngFor="let item of richestout$ |async " >
  <mat-card class="mat-elevation-z9">
    <mat-card-header>
      <mat-card-title>{{item.useraway.displayName}}</mat-card-title>
      <img matCardAvatar src="{{item.useraway.photoURL}}">
      <mat-card-title>{{item.useraway.email}}</mat-card-title>
      <mat-card-title>{{item.useraway.telefon}}</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <label> {{item.prenotazioneSlot.start | date }}</label><label>{{item.prenotazioneSlot.ora}}</label>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="onAction($event)">invia un Messaggio</button>
      <button mat-button (click)="onAction($event)">Annulla Richesta</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>
</div>
<h2 style="text-align: center">RICHESTE Entrata</h2>
<div fxLayout="row nowrap"
     fxLayoutAlign="center center"
     fxLayoutGap="4vh"  >
<div *ngFor="let item of richestin$ |async " fxLayout="row wrap" xmlns="http://www.w3.org/1999/html">
  <mat-card class="mat-elevation-z9"   >
    <mat-card-header >
      <mat-card-title>{{item.dataUser?.displayName}}</mat-card-title>
      <img matCardAvatar src="{{item.dataUser?.photoURL}}">
      <mat-card-title>{{item.dataUser?.email}}</mat-card-title>
      <mat-card-title>{{item.dataUser?.telefon}}</mat-card-title>

    </mat-card-header>
    <mat-card-content>

      <label> {{item.prenotazioneSlot?.start | date }}</label><label>{{item.prenotazioneSlot?.ora}}</label>

    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="onAction($event)">Conferma</button>
      <button mat-button (click)="onAction($event)">Annulla Richesta</button>
      <button mat-button (click)="onAction($event)">contatta user</button>

    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>

</div>
</div>
