<div *ngFor="let item of richest$ |async " fxLayout="row wrap" xmlns="http://www.w3.org/1999/html">
  <mat-card class="mat-elevation-z9">
    <mat-card-header>
      <img matCardAvatar src="{{item.useraway.photoURL}}">
      <mat-card-title>{{item.useraway.email}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      </label {{item.prenotazioneSlot.data}}<label>{{item.prenotazioneSlot.ora}}</label>

    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="onAction($event)">invia un Messaggio</button>
      <button mat-button (click)="onAction($event)">Annulla Richesta</button>

    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>

</div>
