<h2 style="text-align: center">Richeste effettuate</h2>
<div fxLayout="row nowrap"
     fxLayoutAlign="center center"
     fxLayoutGap="4vh" fxLayout.xs="column nowrap" style="max-width: 100%;margin:0 2vh 0 2vh">
<div *ngFor="let item of richestout$ |async " >
  <mat-card class="mat-elevation-z9">
    <mat-card-header>
      <mat-card-title>{{item.useraway.displayName}}</mat-card-title>
      <img matCardAvatar src="{{item.useraway.photoURL}}">
      <mat-card-title>{{item.useraway.email}}</mat-card-title>
      <mat-card-title>{{item.useraway.telefon}}</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <label> {{item.prenotazioneSlot.start | date }}</label><label>{{item.prenotazioneSlot.ora}}</label>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="onAction($event)">invia un Messaggio</button>
      <button mat-button (click)="onAction($event)">Annulla Richesta</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>
</div>
<h2 style="text-align: center">RICHESTE Entrata</h2>
<div fxLayout="row nowrap"
     fxLayoutAlign="center center"
     fxLayoutGap="4vh" fxLayout.xs="column nowrap" style="max-width: 100%;margin:0 2vh 0 2vh">
<div *ngFor="let item of Richestout$ | async"   >
  <mat-card class="mat-elevation-z9"   >
    <mat-card-header  >

      <mat-card-title>{{item?.dataid}}</mat-card-title>

      <mat-card-title>{{item?.oraid}}</mat-card-title>

    </mat-card-header>
    <mat-card-content>

      <label> {{item.prenotazioneSlot?.start | date }}</label><label>{{item.prenotazioneSlot?.ora}}</label>

    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="onAction()">Conferma</button>
      <button mat-button (click)="removeRic(item.id) ">Annulla Richesta</button>
      <button mat-button (click)="onAction($event)">contatta user</button>

    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>

</div>
</div>

<h2 style="text-align: center">RICHESTE Effettuata da me</h2>
<div fxLayout="row nowrap"
     fxLayoutAlign="center center"
     fxLayoutGap="4vh" fxLayout.xs="column nowrap" style="max-width: 100%;margin:0 2vh 0 2vh">
  <div *ngFor="let item of richestin$ |async " >
    <mat-card class="mat-elevation-z9"   >
      <mat-card-header *ngIf="  item.homeUser  | async as homeuser" >

        <mat-card-title>User Richedente</mat-card-title>

        <mat-card-title>{{homeuser?.displayName}}</mat-card-title>
        <img matCardAvatar src="{{homeuser?.photoURL}}">
        <mat-card-title>{{homeuser?.email}}</mat-card-title>
        <mat-card-title>{{homeuser?.telefon}}</mat-card-title>

      </mat-card-header>

      <mat-card-header *ngIf="  item.awayUser  | async as awayUser" >

        <mat-card-title>User A cui Ho effettuato richesta</mat-card-title>

        <mat-card-title>{{awayUser?.displayName}}</mat-card-title>
        <img matCardAvatar src="{{awayUser?.photoURL}}">
        <mat-card-title>{{awayUser?.email}}</mat-card-title>
        <mat-card-title>{{awayUser?.telefon}}</mat-card-title>

      </mat-card-header>
      <mat-card-content *ngIf="  item.pren  | async as prenot" >

        <label> {{prenot?.start | date }}</label><label>{{prenot?.ora}}</label>

      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-button (click)="onAction()">Invia Un Poke</button>
        <button mat-button (click)="removeRic(item.id) ">Annulla Richesta</button>
        <button mat-button (click)="onAction($event)">contatta user</button>

      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>

  </div>
</div>
<div style="margin: 2px 2px 2px 2px" fxLayout="row wrap"
     fxLayoutAlign="center center"
     fxLayoutGap="">
<app-creanuovapartita></app-creanuovapartita>
