
<div fxLayout="column wrap"
     fxLayoutAlign="center center"
     fxLayoutGap="4vh">
  <h1 matDialogTitle>Scegli UN Giocatore </h1>

  <mat-dialog-content fxLayout="row wrap"
                      fxLayoutAlign="center center"
                      fxLayoutGap="2vh">

<div *ngFor="let item of data.userPass1 | async " >
  <mat-card class="mat-elevation-z9 mat-card">
    <mat-card-header fxLayout="column wrap"
                     fxLayoutAlign="center center">
      <mat-card-title ><h2>{{item.displayName}}</h2>

      </mat-card-title>
      <img mat-card-md-image src="{{item.photoURL}}">

    </mat-card-header>
    <mat-card-content>
      Text content
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="aggiungi(item)">Aggiungi {{item.displayName}} Alla tua squadra</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button  > Close dialog</button>
  </mat-dialog-actions>
</div>
