<div fxLayout="row wrap"
     fxLayoutAlign="center center"
     fxLayoutGap="" class="profilo">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Ben Tornato</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
       </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="onAction1">Action1</button>

    </mat-card-actions>
    <mat-card-footer>
      Footer
    </mat-card-footer>
  </mat-card>
</div>


<div fxLayout="row wrap"
     fxLayoutAlign="center center"
     fxLayoutGap="" class="form">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Modifica IL PROFILO</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
      <img [src]="file"  alt="">
      <app-primocanvas
        (imagegurulink)="file=$event"
        [canavasProfiledisplay]='true'></app-primocanvas>

    </mat-card-header>
    <mat-card-content>
        <span class="result rounded" *ngIf="data.image && visibility" >
    <img [src]="data.image" style="border-radius: 50%">
    <br>
    <button mat-icon-button (click)="confermafoto(data.image) ; visibility = false">
        <mat-icon class="mat-24">save</mat-icon>
    </button>
</span>

      <img-cropper #cropper [image]="data" [settings]="cropperSettings" *ngIf="visibility" ></img-cropper>

    </mat-card-content>
    <mat-card-actions align="start">
      <div class="file-upload">
        <p>Upload File</p>
    <span class="text"><button mat-fab (click)="filee.click();visibility=true " color="warn"  >
       <mat-icon class="mat-18">file_upload</mat-icon>
      </button></span>
        <input  #filee accept="image/*"  type="file"   (change)="fileChangeListener($event)" [ngStyle]="{'display': 'none'}">
      </div>
    </mat-card-actions>
    <mat-card-footer>
      Footer
    </mat-card-footer>
  </mat-card>
 </div>

