<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Scegli Una Data</ng-template>

      <mat-input-container>
        <input matInput
               formControlName="data"
               [matDatepicker]="datePickerRef"
               placeholder="">
      </mat-input-container>
      <mat-datepicker #datePickerRef [touchUi]="true"></mat-datepicker>
      <mat-datepicker-toggle [for]="datePickerRef"></mat-datepicker-toggle>
      <mat-input-container>
        <input matInput formControlName="ora">
      </mat-input-container>
      <app-dataform ></app-dataform>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
