

<div class="tests" fxLayout="row nowrap"
     fxLayout.xs="column wrap"
     fxLayoutAlign.xs="center center"
     fxLayoutGap.xs=""
     fxLayoutAlign="center end"
     fxLayoutGap="30px"
>
  <app-calendar ></app-calendar>
  <app-add-range></app-add-range>

</div>


<!--
<mat-form-field>
  <input    matInput [matDatepicker]="picker" (dateInput)="onInput($event)"  placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.ora}} disponibile:{{item.disponibile}}
  </li>
</ul>
<button mat-raised-button (click)="getDisponibilita()">controlla disponibilita</button>

<div class="container">
  <div class="testing" >

    <button mat-raised-button  color="primary" #aaa (click)="setdata( item.ora )" *ngFor="let item of items | async" >
      <a *ngIf="item.disponibile" #titleInput>{{item.ora}}</a>
    </button>
  </div>
</div>


!-->
