<div class="wrapperr" style="margin: 1vh" >


  <mat-grid-list cols="3" rowHeight="fit" [style.height]="'50vh'" [gutterSize]="'1px'">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-grid-tile-header>
        <mat-icon mat-grid-avatar>arrow_back</mat-icon>
        giorno prima
      </mat-grid-tile-header>
      giorno prima
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-grid-tile-header>
        <mat-icon mat-grid-avatar>date_range

        </mat-icon>
        data        </mat-grid-tile-header>
      data      </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-grid-tile-header>
        <mat-icon mat-grid-avatar>arrow_forward</mat-icon>
        giorno dopo
      </mat-grid-tile-header>
      giorno dopo
    </mat-grid-tile>
  </mat-grid-list>


</div>

