<div >

<mat-card >
  <mat-card-header>
    <mat-card-title>COSTRUIAMO UNA PARTITA</mat-card-title>
  </mat-card-header>
  <mat-horizontal-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Scegli L'avversario</ng-template>
        <mat-form-field>
          <input matInput placeholder="Scegli il cliente" aria-label="Cliente" [matAutocomplete]="auto" [formControl]="userCtrl" required>
          <mat-autocomplete #auto="matAutocomplete" >
            <mat-option  *ngFor="let user of users | async"  [value]="user"  >
              <span>{{ user.email }}</span>
              <img style="vertical-align:middle;" aria-hidden src="{{user.photoURL}}" height="25" >
              <small>Uid: {{user.uid}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Scegli Una Data</ng-template>

        <mat-form-field>
          <input    matInput [matDatepicker]="picker" (dateInput)="onInput($event) ; toggleState() ; getDisponibilita(); show=true"  placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-card *ngIf="event"><h3 mat-card-title>Data e ora selezionati: {{event}} </h3>
          </mat-card>
          <mat-card *ngIf="items && show" >
           <mat-card-header>
              <mat-icon style="cursor: pointer" (click)="giornoprima()" >arrow_back</mat-icon>
             <h3 mat-card-title >Disponiblita campo 1 giorno {{data_grabbed }}</h3>

             <mat-icon (click)="giornodopo()" style="cursor: pointer">arrow_forward</mat-icon>
           </mat-card-header>
            <mat-card-actions>
            <button mat-button   #aaa (click)="setdata( item ); show=false " *ngFor="let item of items | async" >
              <a *ngIf="item.disponibile" #titleInput>{{item.ora}}</a>
            </button>
            </mat-card-actions>
            </mat-card>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <mat-card-actions align="start">
    <button mat-button (click)="onAction1">Action1</button>

  </mat-card-actions>
  <mat-card-footer>
    Footer
  </mat-card-footer>
</mat-card>
</div>
