<div>
  <div *ngFor="let squad of squdare$ | async">
    <h1>{{squad.nome}}</h1>
    <button mat-raised-button (click)="rimuovisquadra(squad.Uid)" color="primary">rimuovi</button>
  </div>
</div>
<div fxLayout="row wrap"
     fxLayout.xs="column nowrap"
     fxLayoutGap.xs="5px"
     fxLayoutGap="2vh"
     style="margin: 1vh 2vh 2vh 2vh" >

  <div  fxFlex="32"  fxLayout="column"  *ngFor="let squadra of squdare$ | async" >

    <mat-card  class="mat-elevation-z9 mat-card"  >
      <mat-card-header fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="1vh" >
        <mat-card-title ><h2>{{squadra.nome| uppercase}}</h2></mat-card-title>
        <mat-card-subtitle><h3>creata il </h3></mat-card-subtitle>
        <div class="contimage">
          <img img mat-card-sm-image src="{{squadra.logo}}">
        </div>
      </mat-card-header>



      <mat-card-content fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="1vh" >


        <ul fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="1vh" >
          <h3 style="font-size: medium">I componenti del Team {{squadra.nome}} sono :</h3>
          <div>
            <li *ngFor="let giocatori of squadra?.giocatori "><h3>{{giocatori.displayName}}</h3>
              <button mat-button (click)="rimuovigiocatore(giocatori,squadra)">Rimuovi</button></li>
            <li><h3>{{squadra.capitan_uid}} "capitano_id"</h3></li>

            <!--
            <li><button mat-button [style.display]="!squadra.user1Name ? '' : 'none'" (click)="searchplayer(1)" >Inserisci Un giocatore</button> <button mat-button (click)="searchplayer(1)" >{{squadra.user1Name}}</button>  </li>
            <li><button mat-button [style.display]="!squadra.user2Name ? '' : 'none'" (click)="searchplayer(2)" >Inserisci Un giocatore</button> <button mat-button  >{{squadra.user2Name}}</button>  </li>
               <li><button mat-button  [style.display]="!squadra.user3Name ? '' : 'none'" (click)="searchplayer(3)"  >Inserisci Un giocatore</button> <button mat-button  >{{squadra.user3Name}}</button>  </li>
               <li><button mat-button  [style.display]="!squadra.user4Name ? '' : 'none'"  (click)="searchplayer(4)" >Inserisci Un giocatore</button> <button mat-button  >{{squadra.user4Name}}</button>  </li>
            -->


          </div>

        </ul>

      </mat-card-content>
      <mat-card-actions align="center"  >
        <button fxFlex mat-raised-button (click)="mostrauteni()" color="accent">Invita Giocatore</button>
        <button fxFlex mat-raised-button (click)="searchplayer(squadra)" color="primary">Modifica Roster</button>
        <button fxFlex mat-raised-button (click)="onAction1 " color="primary" >Crea Partita</button>
        <button fxFlex mat-raised-button (click)="rimuovisquadra(squadra.Uid)" color="warning">rimuovi Squadra</button>
      </mat-card-actions>
      <mat-card-footer >
          <div *ngIf="utenti$" fxLayout="row nowrap "
               fxLayoutAlign="start center"
               fxLayoutGap="4vw">
            <div  *ngFor="let utentis of utenti$ |async" >
              <img matCardImageMedium src="{{utentis.photoURL}}">
              <h2>{{utentis.displayName}}</h2>

              <button mat-raised-button (click)="aggiungiPlayer(utentis.id)" color="primary">Aggiungi</button>
            </div>
          </div>
      </mat-card-footer>
    </mat-card>
  </div>

</div>
