<!--<div fxLayout="row wrap"
     fxLayoutAlign="center center"
     fxLayoutGap="3px" fxFlex="50">
<mat-card >
  <mat-card-header >
    <img matCardAvatar src="{{player.photoURL}}">
    <mat-card-title>{{player.displayName}}<br>{{player.email}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img matCardImageSmall src="{{player.photoURL}}">

  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button (click)="onAction(player)">Rimuovi Giocatore</button>
    <button mat-raised-button (click)="onAction(player)">Contatta Giocatore</button>

  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
</div>
-->
<div fxLayout="column "
     fxLayoutAlign="end center"
     fxLayoutGap="2vw">
  <h1 >{{player.displayName}}<br><span style="font-size: small">{{player.email}}</span>
    </h1>
    <img  mat-card-lg-image src="{{player.photoURL}}">
    <div fxFlexFill>
      <button mat-raised-button (click)="onAction(player)">Rimuovi Giocatore</button>
      <button mat-raised-button (click)="onAction(player)">Contatta Giocatore</button>
    </div>
  </div>
