<div class="wrapa" style="height: 100vh;width: 100vw">
  <div fxLayout="column wrap"
       fxLayoutAlign="space-between center"
       fxLayoutGap="2vh">
    <mat-card class="mat-elevation-z9" style="margin: 1vh;background-color: orange" >
      <mat-card-title>
        <mat-card-title>PRENOTAZIONI</mat-card-title>
        <img class="mat-elevation-z9" matCardImage src="https://bsbproduction.s3.amazonaws.com/portals/1696/images/field_reservation_icon.png">
      </mat-card-title>

      <mat-card-content>
        Text content
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-button (click)="onAction($event)">Action1</button>
        <button mat-button (click)="onAction($event)">Action2</button>

      </mat-card-actions>
      <mat-card-footer>
        Footer
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<div >
  <div fxLayout="row " fxLayoutWrap="wrap" fxLayoutAlign="start start" fxLayoutGap="15px" >

    <md-card  style="background-color: #536DFE ;padding: 1vh 1vh 2vh 1vh"  align="center"
              fxLayout="column wrap">
      <md-card-content fxFlexAlign="center">
        <h1 matCardTitle style="font-family: Balloon">PRENOTAZIONI</h1>
        <img height="350px" width="350px" class="mat-elevation-z9" matCardImage src="https://bsbproduction.s3.amazonaws.com/portals/1696/images/field_reservation_icon.png">
      </md-card-content>
    </md-card>
    <md-card  style="background-color: #536DFE ;padding: 1vh 1vh 2vh 1vh"  align="center"
             fxLayout="column wrap">
      <md-card-content fxFlexAlign="center">
        <h1 matCardTitle style="font-family: Balloon">PRENOTAZIONI</h1>
        <img height="350px" width="350px" class="mat-elevation-z9" matCardImage src="https://bsbproduction.s3.amazonaws.com/portals/1696/images/field_reservation_icon.png">
      </md-card-content>
    </md-card>
    <md-card  style="background-color: #536DFE ;padding: 1vh 1vh 2vh 1vh"  align="center"
              fxLayout="column wrap">
      <md-card-content fxFlexAlign="center">
        <h1 matCardTitle style="font-family: Balloon">PRENOTAZIONI</h1>
        <img height="350px" width="350px" class="mat-elevation-z9" matCardImage src="https://bsbproduction.s3.amazonaws.com/portals/1696/images/field_reservation_icon.png">
      </md-card-content>
    </md-card>
    <md-card  style="background-color: #536DFE ;padding: 1vh 1vh 2vh 1vh"  align="center"
              fxLayout="column wrap">
      <md-card-content fxFlexAlign="center">
        <h1 matCardTitle style="font-family: Balloon">PRENOTAZIONI</h1>
        <img height="350px" width="350px" class="mat-elevation-z9" matCardImage src="https://bsbproduction.s3.amazonaws.com/portals/1696/images/field_reservation_icon.png">
      </md-card-content>
    </md-card>
    <md-card  style="background-color: #536DFE ;padding: 1vh 1vh 2vh 1vh"  align="center"
              fxLayout="column wrap">
      <md-card-content fxFlexAlign="center">
        <h1 matCardTitle style="font-family: Balloon">PRENOTAZIONI</h1>
        <img height="350px" width="350px" class="mat-elevation-z9" matCardImage src="https://bsbproduction.s3.amazonaws.com/portals/1696/images/field_reservation_icon.png">
      </md-card-content>
    </md-card>
  </div>
</div>
